@import "~styles/variables.scss";

$progress-bar-height: $base-spacing * 0.75;

.progressBarAll {
  display: inline-flex;
  align-items: center;
  min-width: $progress-bar-height;
  width: 100%;
}

.progressBar {
  overflow: hidden;
  background-color: $brand-grey;
  height: $progress-bar-height;
  border-radius: $progress-bar-height / 2;
  flex: 1 1;
}

.progressBarFiller {
  background-color: #1da598;
  border-radius: inherit;
  height: inherit;
  transition: width 0.2s ease-in;
}

.ProgressBarMarginLeft {
  margin-left: $m_spacing;
}

.ProgressBarMarginRight {
  margin-right: $m_spacing;
}

.progressBarMarginSmall {
  margin: $s_spacing;
}

.progressBarMarginMedium {
  margin: $m_spacing;
}

.progressBarMarginLarge {
  margin: $l_spacing;
}

.progressBarSizeSmall {
  width: 30em;
}

.progressBarSizeMedium {
  width: 35em;
}

.progressBarSizeLarge {
  width: 40em;
}
